.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: $site-width;

    .nav {
        width: 925px;
    }

    &__links {
        width: 150px;
        height: 23px;
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        a:hover {
            border-bottom: 2px solid $blue;
        }
    }
}