.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    width: $site-width;
    height: 23px;

    &__logo {
        font-weight: bold;
        font-size: 20px;
    }

    a {
        text-decoration: none;
        color: $black;
    }

    a:hover {
        border-bottom: 2px solid $blue;
    }

    &__right {
        width: 150px;
        display: flex;
        justify-content: space-between;
    }
}